<div id="cardprof">
    <mat-card class="card">
        <mat-card-header>
          <img mat-card-lg-image src="https://avatars.dicebear.com/api/adventurer/AymaneDaif.svg" />
          <div>
            <mat-card-title>
              {{
                (clientDetails==null)?"":clientDetails.firstName + " " + clientDetails.lastName
              }}</mat-card-title
            >
            <mat-card-subtitle>{{ (clientDetails==null)?"":clientDetails.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{ (clientDetails==null)?"":clientDetails.address}}</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <div class="boxes">
            <div class="box">
              <span>
                <mat-icon color="warn">calendar_month</mat-icon>
                {{ "CLIENT_PROFILE.CREATION_DATE" | translate }}</span
              >
              <strong>{{ (clientDetails==null)?"":clientDetails.creation_date }}</strong>
            </div>
      
            <div class="box">
              <span>
                <mat-icon color="warn">numbers</mat-icon>
                {{ "CLIENT_PROFILE.SOLD" | translate }}</span
              >
              <strong>{{ (clientDetails==null)?"":clientDetails.solde |  currency:' MAD '}}</strong>
            </div>
      
            <div class="box">
              <span>
                <mat-icon color="warn">badge</mat-icon>
                {{ "HOME.PHONE_NUMBER" | translate }}</span
              >
              <strong>{{ (clientDetails==null)?"":clientDetails.phone }}</strong>
            </div>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
      
        <mat-card-footer>
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title
                  ><strong>{{ "CLIENT_PROFILE.TIMELINE" | translate }}</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table mat-table [dataSource]="clientTransactions" class="col-11 col-md-10 col-lg-8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="emitter">
                  <th mat-header-cell *matHeaderCellDef> {{"HOME.EMITTER" | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.emitter}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="receiver">
                  <th mat-header-cell *matHeaderCellDef> {{"HOME.RECEIVER" | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.receiver}} </td>
                </ng-container>
        
                <!-- Weight Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> {{"HOME.AMOUNT" | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} DH </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            </table> 
        
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-footer>
      </mat-card>
    </div>
    