.container0 {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
mat-toolbar {
  padding: 2.5rem 0;
}
img {
  max-width: 60%;
}
:host {
  position: fixed;
  z-index: 100;
}
main{
  margin-bottom: 20px;
}