<mat-card class="card">
  <mat-card-header>
    <img mat-card-lg-image [src]="image" />
    <div>
      <mat-card-title>
        {{ agent?.firstName + " " + agent?.lastName }}</mat-card-title
      >
      <mat-card-subtitle>{{ agent?.email }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-divider inset></mat-divider>

  <mat-card-content>
    <div class="boxes">
      <div class="box">
        <span>
          <mat-icon color="warn">calendar_month</mat-icon>
          {{ "AGENT_PROFILE.JOIN_DATE" | translate }}</span
        >
        <strong>{{ agent?.dateOfBirth }}</strong>
      </div>

      <div class="box">
        <span>
          <mat-icon color="warn">numbers</mat-icon>
          {{ "AGENT_PROFILE.CLIENTS_NUMBER" | translate }}</span
        >
        <strong>{{ agent?.number_of_client }}</strong>
      </div>

      <div class="box">
        <span>
          <mat-icon color="warn">badge</mat-icon>
          {{ "AGENT_PROFILE.LICENCE_NUMBER" | translate }}</span
        >
        <strong>{{ agent?.patente }}</strong>
      </div>
    </div>
  </mat-card-content>
  <!-- <mat-divider inset></mat-divider> -->

  <!-- <mat-card-footer>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            ><strong>{{ "AGENT_PROFILE.TIMELINE" | translate }}</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-timeline [timeline]="null"></app-timeline>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-footer> -->
</mat-card>
