<div class="bigContainer d-flex  align-items-center justify-content-center">
    <mat-card class="home-card col-11 col-md-6 col-sm-9 col-lg-5 col-xl-4 ml-md-5 p-md-4 mt-5">
      <mat-card-title class="pt-3 pb-4 font-weight-bold">{{
        "HOME.NEW_PASSWORD_TITLE" | translate
      }}</mat-card-title>
      <mat-card-content>
        <form #newPasswordForm="ngForm" (submit)="onSubmit(newPasswordForm)">
          <div>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>{{
                  "HOME.NEW_PASSWORD_PLACEHOLDER" | translate
                }}</mat-label>
                <div style="display: flex;">
                  <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  name="password"
                  required
                  ngModel
                />
                <mat-icon (click)="toggleHide()">{{
                  hide ? "visibility" : "visibility_off"
                }}</mat-icon>
                </div>
                
              </mat-form-field>
          </div>
          <div class="mt-4">
            <button
              mat-raised-button
              color="primary"
              class="w-100 py-1"
              style="cursor:pointer"
              type="submit"
              [disabled]="newPasswordForm.invalid"
            >
              {{ "HOME.SAVE" | translate }}
            </button>
          </div>
          <hr class="my-4"/>
    
        </form>
      </mat-card-content>
    </mat-card>
</div>
  