<div>
  <form #addAgentForm="ngForm">
    <div>
      <h3>{{ "HOME.PER_INFO" | translate }}</h3>
    </div>
    <div>
      <p style="display: flex; justify-content: space-between; padding: 0 10%">
        <mat-form-field style="width: 45%">
          <mat-label>{{ "HOME.F_NAME" | translate }}</mat-label>
          <input
            matInput
            name="firstName"
            [(ngModel)]="agent.firstName"
            [value]="agent.firstName"
            required
            minlength="4"
          />
        </mat-form-field>

        <mat-form-field style="width: 45%">
          <mat-label>{{ "HOME.L_NAME" | translate }}</mat-label>
          <input
            matInput
            name="lastName"
            [(ngModel)]="agent.lastName"
            [value]="agent.lastName"
            required
            minlength="4"
          />
        </mat-form-field>
      </p>
      <p style="display: flex; justify-content: space-between; padding: 0 10%">
        <mat-form-field style="width: 45%">
          <mat-label>{{ "HOME.D_OF_BIRTH" | translate }}</mat-label>
          <input
            matInput
            type="date"
            name="dateOfBirth"
            [(ngModel)]="agent.dateOfBirth"
            [value]="agent.dateOfBirth"
            required
          />
        </mat-form-field>

        <mat-form-field style="width: 45%">
          <mat-label>{{ "HOME.ADRESS" | translate }}</mat-label>
          <input
            matInput
            name="password"
            [(ngModel)]="agent.adress"
            [value]="agent.adress"
            required
          />
        </mat-form-field>
      </p>
      <p style="display: flex; justify-content: space-between; padding: 0 10%">
        <mat-form-field style="width: 45%">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            [(ngModel)]="agent.email"
            [value]="agent.email"
            required
          />
        </mat-form-field>

        <mat-form-field style="width: 45%">
          <mat-label>{{ "HOME.PHONE" | translate }}</mat-label>
          <input
            matInput
            name="phone"
            [(ngModel)]="agent.phone"
            [value]="agent.phone"
            required
          />
        </mat-form-field>
      </p>
      <p style="display: flex; justify-content: space-between; padding: 0 10%">
        <mat-form-field style="width: 45%">
          <mat-label>{{ "HOME.REGISTRATION_NUMBER" | translate }}</mat-label>
          <input
            matInput
            name="matricule"
            [(ngModel)]="agent.matricule"
            [value]="agent.matricule"
            required
          />
        </mat-form-field>

        <mat-form-field style="width: 45%">
          <mat-label>{{ "HOME.LICENCE" | translate }}</mat-label>
          <input
            matInput
            name="patente"
            [(ngModel)]="agent.patente"
            [value]="agent.patente"
            required
          />
        </mat-form-field>
      </p>
    </div>
    <div>
      <h3>{{ "HOME.ATTACHMNT" | translate }}</h3>
    </div>
    <div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          padding: 0 10%;
          width: 75%;
        "
      >
        <mat-form-field style="width: 45%">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            name="description"
            [(ngModel)]="agent.description"
            [value]="agent.description"
          ></textarea>
        </mat-form-field>
        <div style="width: 45%">
          <input
            type="file"
            class="file-input"
            name="file"
            (change)="onFileSelected($event)"
            #fileUpload
          />
          <div class="file-upload" style="display: flex; padding: 9% 0%">
            {{ agent?.fileName || "No file uploaded yet." }}

            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end" style="padding: 0 10%">
      <button mat-flat-button (click)="OnCancel()">
        {{ "HOME.CANCEL" | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="create(addAgentForm)">
        {{ "HOME.CREATE" | translate }}
      </button>
    </div>
  </form>
</div>
