.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.home-card {
    width: 30%;
}


.icons mat-icon, .icons div{
    cursor: pointer;
}

.container0 {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}