<mat-toolbar style="height: 10%">
  <div class="container0">
    <span routerLink="/" style="cursor: pointer"
      ><img src="../../assets/img/Logo.png" alt="E-banking" width="150" height="57.5"
    /></span>
    <div class="d-flex justify-content-around icons align-items-center">
      <mat-select [(value)]="selected" (selectionChange)="OnSelect($event)">
        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{
          lang.toUpperCase()
        }}</mat-option>
      </mat-select>
    </div>
  </div>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
