<div id="cardprof">
<mat-card class="card">
    <mat-card-header>
      <img mat-card-lg-image src="https://avatars.dicebear.com/api/adventurer/AymaneDaif.svg" />
      <div>
        <mat-card-title>
          {{
            client?.fname + " " + client?.lname
          }}
          </mat-card-title>
        <mat-card-subtitle>{{ client?.email }}</mat-card-subtitle>
            (clientDetails==null)?"":clientDetails.firstName + " " + clientDetails.lastName
          }}
      </div>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <div class="boxes">
        <div class="box">
          <span>
            <mat-icon color="warn">calendar_month</mat-icon>
            {{ "CLIENT_PROFILE.BIRTH_DATE" | translate }}</span
          >
          <strong>{{ client?.birth }}</strong>
        </div>
  
        <div class="box">
          <span>
            <mat-icon color="warn">numbers</mat-icon>
            {{ "CLIENT_PROFILE.SOLD" | translate }}</span
          >
          <strong>{{ client?.solde |  currency:' MAD '}}</strong>
        </div>
  
        <div class="box">
          <span>
            <mat-icon color="warn">badge</mat-icon>
            {{ "CLIENT_PROFILE.CLIENTS_AGENT" | translate }}</span
          >
          <strong>{{ agentDetails?.clientAgent }}</strong>
      </div>
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer>
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              ><strong>{{ "CLIENT_PROFILE.TIMELINE" | translate }}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-timeline [timeline]="agentDetails.timeline"></app-timeline>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-footer>
  </mat-card>
</div>
