<div id="cardprof">

  <mat-card class="card mt-5">
    <mat-card-header>
      <img mat-card-lg-image src="https://avatars.dicebear.com/api/adventurer/AymaneDaif.svg" />
      <div>
        <mat-card-title>
          {{
            client?.firstName + " " + client?.lastName
          }}
          </mat-card-title>
        <mat-card-subtitle>{{ client?.email }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <div class="boxes">
        <div class="box">
          <span>
            <mat-icon color="warn">calendar_month</mat-icon>
            {{ "CLIENT_PROFILE.CREATION_DATE" | translate }}</span
          >
          <strong>{{ client?.creation_date }}</strong>
        </div>
  
        <div class="box">
          <span>
            <mat-icon color="warn">numbers</mat-icon>
            {{ "CLIENT_PROFILE.SOLD" | translate }}</span
          >
          <strong>{{ client?.solde |  currency:' MAD '}}</strong>
        </div>
  
        <div class="box">
          <span>
            <mat-icon color="warn">badge</mat-icon>
            {{ "CLIENT_PROFILE.CLIENTS_AGENT" | translate }}</span
          >
          <strong>{{ client?.agent.email }}</strong>
      </div>
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
  </mat-card>

</div>
