/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100vh;
  max-width: 100vw;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
