<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="example-sidenav"
    fixedInViewport="true"
    fixedTopGap="0"
    fixedBottomGap="0"
  >
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="sidebar-content--image"></div>
        <mat-card-title>BackOffice</mat-card-title>
        <mat-card-subtitle>@backOffice</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-list>
      <mat-list-item>
        <button mat-flat-button (click)="showAllAgents()">
          <mat-icon mat-list-icon color="primary">dashboards</mat-icon>
          <span>{{ "HOME.ICON_DASHBOARD" | translate }}</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (click)="goToSettingsPage()">
          <mat-icon mat-list-icon color="primary">
            admin_panel_settings
          </mat-icon>
          <span>{{ "HOME.ICON_SETTINGS" | translate }}</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (click)="logout()">
          <mat-icon mat-list-icon color="primary">logout</mat-icon>
          <span>{{ "HOME.ICON_LOGOUT" | translate }}</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list>
      <div mat-subheader>Agents</div>
      <mat-list-item>
        <button mat-flat-button (click)="showAgentsWithMostClients()">
          <mat-icon mat-list-icon color="primary">groups</mat-icon>
          <span>{{ "HOME.AGENTS_MOST_CLIENTS" | translate }}</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (click)="showAgentsWithLeastClients()">
          <mat-icon mat-list-icon color="primary">people</mat-icon>
          <span>{{ "HOME.AGENTS_LEAST_CLIENTS" | translate }}</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (click)="showBookmarkedAgents()">
          <mat-icon mat-list-icon color="primary">bookmark</mat-icon>
          <span>{{ "HOME.BOOKMARKED_AGENTS" | translate }}</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <a mat-button (click)="openDialog()">
      <mat-icon mat-list-icon color="accent">add</mat-icon>
      {{ "HOME.ADD_AGENT" | translate }}</a
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-mini-fab color="accent" (click)="sidenav.toggle()">
      <mat-icon mat-list-icon *ngIf="sidenav._getWidth() < 10"
        >chevron_right</mat-icon
      >
      <mat-icon mat-list-icon *ngIf="sidenav._getWidth() > 10"
        >chevron_left</mat-icon
      >
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
